@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --color1: #FFC2C2;
    --color2: #FF2C2C;
    --color3: #1E5D3F;
    --color4: #FFF8F5;
}

body {
    margin: 0;
    padding: 20px;
    background-color: #2c2c2c;
    font-family: "Epilogue";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.main-container {
    background-color: var(--color1);
    width: 50%;
    height: 450px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 20%;
    border-radius: 20px 20px 0 0;
    background-color: var(--color2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    color: var(--color4);
    font-weight: 500;
}

.lives {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dot {
    background-color: #fff8f5;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.lost {
    opacity: 50%;
}

.quiz-body {
    padding: 20px 30px 20px 30px;
    height: 100%;
}

.progress-bar {
    background-color: var(--color4);
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
}

#progress-fill {
    width: 100%;
    height: 100%;
    background-color: var(--color2);
    transition: width 0.1s linear;
    border-radius: 10px;
}

.quote-box {
    background-color: var(--color4);
    height: 40%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.answer-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.answer-btn {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    color: var(--color4);
}

#red-flag {
    background-color: var(--color2);
}

#red-flag:hover {
    cursor: pointer;
    background-color: #df252593;
}

#green-flag {
    background-color: var(--color3);
}

#green-flag:hover {
    cursor: pointer;
    background-color: #194d34af;
}

.next-button {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 10px;
}

#next-btn {
    width: 10%;
    color: var(--color4);
    border-radius: 15px;
    padding: 5px;
    border: none;
    background-color: var(--color2);
    font-weight: 500;
}

#next-btn:hover {
    cursor: pointer;
    background-color:#ff2c2caa;
    color: var(--color1);
}

.restart {
    display: flex;
    justify-content: center;
}

.restart-btn {
    display: none;
    background-color: var(--color4);
    background-color: var(--color2);
    width: 10%;
    color: var(--color4);
    border-radius: 15px;
    padding: 5px;
    border: none;
    font-weight: 500;
    padding: 15px;
    width: 30%;
    font-size: 15px;
    font-weight: 500;
}

.restart-btn:hover {
    cursor: pointer;
    background-color:#ff2c2caa;
}

/*Landing Page*/
#main-title {
    font-family: "Fraunces";
    font-size: 80px;
    color: var(--color2);
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color1);
    height: 90%;
    width: 94%;
    border-radius: 20px;
}

#landing-main-container {
    background-color: #FF2C2C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.start-btn {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--color2);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.start-btn a {
    text-decoration: none;
    color: var(--color4);
    font-weight: 600;
    font-size: 15px;
}

.start-btn:hover {
    background-color:#ff2c2caf;
    cursor: pointer;
}

.how-to {
    background-color: transparent;
    border: none;
    color: var(--color2);
    font-weight: 600;
}

.how-to:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*Modal*/
.modal {
  visibility: hidden;
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100vh; 
  overflow: auto; 
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.modal-content {
  background-color: var(--color4);
  margin: 15% auto; 
  padding: 20px;
  border: 3px solid var(--primary);
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  height: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  animation: fadeIn 0.3s;
}

.modal-content h2 {
    color: var(--color2);
    font-family: "Fraunces";
    font-size: 40px;
    margin: 0;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

/*Feedback modal*/
.feedback-box {
  display: none;
  position: fixed;
  top: 40%;
  left: 68%;
  transform: translateX(-50%);
  z-index: 9999;
  background: white;
  border: 2px solid #ff4d4d;
  padding: 10px;
  border-radius: 12px;
  font-size: 1.2rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  width: 15%;
  text-align: center;
  animation: fadeIn 0.3s ease-out;
  font-size: 15px;
  color: var(--color2);
}

.correct {
    font-size: 40px;
    font-weight: 600;
    font-family: "Fraunces";
    color: var(--color3);
}

.incorrect {
    font-size: 40px;
    font-weight: 600;
    font-family: "Fraunces";
    color: var(--color2);
}